/*  your css code here. If applicable */
.heading{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.heading h1{
   color:blue;
}
.article{
	display:flex;
	flex-direction:column;
}
